{box-sizing: border-box;}

@font-face{
	font-family: 'manticore';
	src: url('Manticore.ttf') format('truetype');
}
body{
	display: grid;
	grid-template-areas:"filler hd title     title     filler2"
						"filler hd banner    banner     filler2"
						"filler hd content   aside     filler2"
						"filler ft ft        ft        filler2";
	grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
	grid-gap: 15px;		
	font-family: 'Open Sans', sans-serif;		
}


#filler{
	grid-area: filler;
	visibility: hidden;
}

#filler2{
	grid-area: filler2;
	visibility: hidden;
}
#logo2{
	display: none;
}


header{
	grid-area:hd;
	display: flex;
	flex-direction: column;
	position: sticky;
	top:0;
	text-align: center;
	background-color:#05386B;
	color: #fff;
	
}
header img{
	align-self: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

header input{
	display: none;
}

ul{
	padding: 0%;
	margin: 0%;
}

nav ul li{
	font-size: 40px;
	list-style: none;
	padding: 10px; 
	margin-bottom: 10%;
	margin-top: 10%;
	font-family: 'manticore';
}

a{
	color: inherit;
	text-decoration: none;
}

nav ul li:hover{
	background-color: #5CDB95;
	color:#000;
}

h1{
	grid-area: title;
	text-align: center;
	margin:0%;
	margin-top: 1%;
	padding:0%;
	font-family: 'manticore';
	font-size:40px;
}

h2{
	font-family: 'manticore';
	font-size: 25px;
	margin-left: 20px;
	text-align: center;
}
h3{
	font-size: 25px;
	font-family: 'manticore';
}

#banner{
	grid-area: banner;
	background-image: url("images/l_kendrick.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
}

#banner h2{
	margin-left: 0px;
	margin-top: 50%;
	background-color:#000;
	font-size: 35px;
	color:#fff;
	opacity: 0.8;
}

#content{
	grid-area: content;
	font-size:18px;
	display: flex;
	flex-direction: column;
	background-color: 
}


#content ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 10%;
	margin-top: 2%;
	margin-bottom: 5%;
	padding: 0px;
	background-color:#0F59A1;
	color: #fff;
	font-style: italic; 
}

#content ul li{
	padding:0px;
	margin: 0px;
}

#song_title{
	font-size:10px;
	text-align: left
}

#caption{
	font-size:13px;
	text-align: center;
}

#video{
	display: flex;
	flex-direction: column;
	align-items: center;

}

aside{
	grid-area: aside;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	font-size: 20px;
	background-color:#05386B;
	color: #fff;
	height: 16%;
}

aside p{
	padding:10px;
}

aside p:hover{
	background-color: #5CDB95;
	color: #000;
}


footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	z-index: 2;
	font-family: 'Open Sans', sans-serif;
	grid-area:ft;
	font-size: 20px;
	background-color: #9edbfa;
	margin-top:3%;
}

footer li{
	padding:10px;
	padding-right: 60px;
	list-style-type: none;
}

@media only screen and (max-width:1000px){
	body{
		display: grid;
		grid-template-areas:"hd"
							"title"
							"banner"
							"content"
							"aside"
							"ft";
		grid-template-rows:1fr; 
	}

	#filler{
		display: none;
	}
	#filler2{
		display: none;
	}
	#logo1{
		display: none;
	}

	header{
		grid-area: hd;
	}

	header ul{
		display: none;
	}

	h1{
		grid-area: title;
	}
	#banner{
		grid-area: banner;
	}

	#content{
		grid-area: content;
	}

	aside{
		grid-area: aside;
		height: 100%;
	}

	footer{
		grid-area: ft;
	}
}